* {
    box-sizing: border-box;
    transition: all 0.1s ease-in;
}
html {
    height: 100%;
}
html,
body {
    min-height: 100%;
    min-width: 860px;
    background: #eeeeee;
}
.ba-container {
    width: 1200px;
    margin: 0 auto;
}
.ba-header {
    width: 1200px;
    height: 86px;
    padding-top: 50px;
    margin-bottom: 124px;
}
.ba-logo__title {
    width: 22%;
    height: 36px;
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 36px;
    text-align: left;
    float: left;
    margin: 0;
    margin-right: 582px;
}
.ba-navigation__container {
    padding:0;
    margin: 0;
    list-style: none;
    float: left;
}
.ba-navigation__item {
    float: left;
    padding: 15px 37px 0 12px ;
}
.ba-navigation__link{
    display: block;
    text-decoration: none;
    height: 14px;
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.ba-menu {
    background: url("../img/menu.png");
    width: 17px;
    height: 14px;
    float: left;
    margin-top: 18px;
}
.ba-slider {
    width: 1200px;
    height: 782px;
    position: relative;
    z-index: 2;
 }
.ba-text {
    width: 618px;
    height: 440px;
    text-align: right;
    float:left;
    position: relative;
    z-index: 2;
}
.ba-text__title {
    color: #303030;
    font-family: 'Raleway', sans-serif;
    font-size: 150px;
    font-weight: 900;
    line-height: 150px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 53px;
}
.ba-text__content {
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 25px;
}
.ba-text__link {
    color: #e10011;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-decoration: none;
}
.ba-image__headphones {
    margin-right: 115px;
    margin-bottom: 120px;
    padding-top: 10px;
    float: right;
    position: relative;
    z-index: 2;
}
.ba-image__gradient {
    position: absolute;
    top: -200px;
    right: -200px;
    z-index: 1;
}
.ba-nav {
    width: 51px;
    height: 11px;
    background: url("../img/slider-nav.png") no-repeat;
    clear: both;
    margin: 0 auto;
}
.ba-featured-work {
    width: 1200px;
    height: 1193px;
    background-color: #ffffff;
}
.ba-headline__title {
    width: 431px;
    color: #303030;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 900;
    margin: 0 auto;
    margin-bottom: 18px;
}
.ba-underline {
    background: url("../img/underline.png") no-repeat;
    width: 213px;
    height: 17px;
    margin: 0 auto;
    margin-bottom: 12px;
}
.ba-description {
    width: 551px;
    height: 42px;
    margin: 0 auto;
}
.ba-description__content {
    color: #303030;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 73px;
    text-align: center;
}
.ba-gallery {
    width: 1055px;
    height: 810px;
    margin: 0 auto;
    margin-top: 73px;
}
.ba-speaker {
    width: 692px;
    height: 387px;
    border-radius: 5px;
    background-color: #eeeeee;
    float: left;
    margin-right: 35px;
}
.ba-headphones {
    width: 328px;
    height: 387px;
    border-radius: 5px;
    background-color: #eeeeee;
    float: left;
    margin-bottom: 35px;
}
.ba-bracelet {
    width: 328px;
    height: 387px;
    border-radius: 5px;
    background-color: #eeeeee;
    clear: both;
    float: left;
    margin-right: 35px;
}
.ba-shoes {
    width: 327px;
    height: 387px;
    border-radius: 5px;
    background-color: #eeeeee;
    float: left;
    margin-right: 37px;
}
.ba-chair {
    width: 328px;
    height: 387px;
    border-radius: 5px;
    background-color: #f3f3fd;
    float: left;
}
.ba-speaker ,
.ba-headphones ,
.ba-bracelet ,
.ba-shoes ,
.ba-chair {
    position: relative;
}
.ba-overlay {
    position: absolute;
    background-color: red;
    border-radius: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    visibility: hidden;
}
.ba-overlay__title {
    width: 350px;
    height: 65px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 900;
}
.ba-overlay__underline {
    text-decoration: underline;
}
.ba-speaker:hover .ba-overlay,
.ba-headphones:hover .ba-overlay,
.ba-bracelet:hover .ba-overlay,
.ba-shoes:hover .ba-overlay,
.ba-chair:hover .ba-overlay {
    visibility: visible;
}

.ba-opt-in {
    width: 1200px;
    height: 310px;
}
.ba-caption {
    width: 551px;
    height: 105px;
    text-align: center;
    margin: 0 auto;
}
.ba-caption__title {
    width: 509px;
    height: 36px;
    color: #303030;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom: 27px;
}
.ba-caption__description {
    width: 551px;
    height: 42px;
    color: #303030;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 37px;
}
.ba-form-container {
    width: 695px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    padding-top: 37px;
}
.ba-form__label {
    width: 70px;
    height: 70px;
    display: block;
    background-image: url("../img/email.png");
    background-repeat: no-repeat;
    background-position: 32px 27px;
    background-color: white;
    border-radius: 35px 0 0 35px;
    padding-left: 66px;
    position: relative;
    margin: 0;
    float: left;
}
.ba-form__input {
    width: 420px;
    height: 70px;
    color: #979797;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    line-height: 24px;
    border: transparent;
    outline-style: none;
}
.ba-form__btn {
    width: 208px;
    height: 70px;
    border-radius: 0 35px 35px 0;
    border: transparent;
    background-color: #e10011;
    float: right;
}
.ba-form__btn-title {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;

}
.ba-form__btn-title:after {
    content: '';
    border: 7px solid transparent;
    border-left: 7px solid #ffffff;
    position: absolute;
    width: 0;
    height: 0;
    top: 2px;
}
.ba-footer {
    width: 1200px;
    height: 300px;
    padding-top: 112px;
}
.ba-social {
    width: 380px;
    height: 70px;
    margin: 0 auto;
}
.ba-social-container {
    list-style: none;
    margin: 0;
    padding: 0;
}
.ba-social__item {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
.ba-social__link {
    display: block;
    text-decoration: none;
}
.ba-social-img {
    width: 70px;
    height: 70px;
}
.ba-copyright {
    width: 492px;
    height: 24px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 90px;
    margin-left: 420px;
}
.ba-copyright__content {
    color: #979797;
}
.ba-copyright__company {
    color: #303030;
}